<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    link(rel="stylesheet", href="css/style.css")
    <title>CRUD MongoPokedex</title>
    style
         .container(
            max-width: 960px)
        
  </head>
  <body>
    <div class="container">
        <div class="shadow-lg pb-3 mb-5 bg-body rounded">
            <h4>Datos del pokemon</h4>
            <form action="/crear" method="POST">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" required>
                </div>
                <button typ="submit" class="w-100 btn btn-guardar btn-lg"><i class="bi bi-save"></i>Registrar pokemon</button>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                </tr>
            </thead>
            <tbody>
                #{pokemons}
                    <tr>
                        td #{pokemons.name}
                    </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>